:root {
  --clr-primary-mint: #C0EDDC;
  --clr-primary-pink: #EDC8C0;
  --clr-primary-darkGreen: #72A18F;

  --clr-neutral-white: #FFFFFF;
  --clr-neutral-gold: #FAC213;
  --clr-neutral-dark: #1F2937;
  --clr-neutral-grey: #535353;

  --ff-header: 'Playfair Display', serif;
  --ff-main: 'Raleway', sans-serif;

  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-36: 2.25rem;
  --fs-48: 3rem;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs-16);
}

/* Component Styling */
body {
  font-family: var(--ff-main);
  color: var(--clr-neutral-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-mint);
}

header {
  width: 100%;
  height: 43.75rem;
  background: url(../image/background-image.bw.jpg) var(--clr-primary-darkGreen);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
}

.page-container {
  width: 68%;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.logo {
  height: 3.4375rem;
}

ul {
  display: flex;
  gap: 2rem;
}

li {
  list-style: none;
}

li a {
  color: var(--clr-neutral-white);
  font-size: var(--fs-18);
  color: var(--clr-neutral-white);
  text-decoration: none;
}

/* Hero Section */
.hero-section {
  display: flex;
  color: var(--clr-neutral-white);
}

.hero-title h1 {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  font-family: var(--ff-header);
}

.hero-title h1 span {
  color: var(--clr-neutral-gold);
}

.hero-title p {
  font-size: var(--fs-18);
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

.button-container {
  display: flex;
  gap: .5rem;
}

button {
  width: 10rem;
  height: 3.125rem;
  border-radius: 1.25rem;
  padding: 1rem;
  border: none;
}


.btn-primary {
  display: flex;
  justify-content: center;
  gap: .5rem;
  background-color: var(--clr-primary-pink);
  font-size: var(--fs-18);
  font-weight: 500;
}

.btn-secondary {
  background-color: transparent;
  border: 0.0625rem solid var(--clr-primary-pink);
  color: var(--clr-primary-pink);
  font-size: var(--fs-18);
  font-weight: 500;
}

.hero-img {
  height: 38.05rem;
}

/* Proof Section */
.proof {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: .75rem;
  font-size: var(--fs-24);
  background-color: var(--clr-primary-darkGreen);
  color: var(--clr-neutral-white);
}

.rating {
  display: flex;
  gap: .25rem;
}

.star {
  color: var(--clr-neutral-gold);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.categories-container {
  width: 100%;
}

.categories-container h2 {
  text-align: center;
  font-size: var(--fs-36);
  margin-bottom: 1.5rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
  width: 200px;
}

.card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 4px solid var(--clr-primary-darkGreen);
}

.categories-title {
  font-size: var(--fs-18);
  font-weight: 500;
  margin: .5rem;
}

#quotes {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--clr-primary-darkGreen);
}

.quote-container {
  padding: 8rem 0;
  text-align: center;
}

blockquote {
  color: var(--clr-neutral-white);
  opacity: 0.7;
  font-family: var(--ff-header);
  font-style: italic;
  font-size: var(--fs-36);
  margin-bottom: 1rem;
}

.quote-container p {
  font-size: var(--fs-24);
  font-weight: 700;
  color: var(--clr-neutral-white);
}

#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 100%;
  background-color: var(--clr-primary-pink);
  display: flex;
  padding: 3rem 1rem;
  margin: 7rem 0;
  border-radius: 20px;
  gap: 3rem;
  justify-content: space-evenly;
  align-items: center;
}

.contact-text {
  width: 50%;
  color: var(--clr-neutral-white);
}

.contact-title {
  font-size: var(--fs-24);
  font-weight: 700;
  margin-bottom: .5rem;
}

.btn-tertiary {
  font-size: var(--fs-18);
  color: var(--clr-neutral-white);
  background-color: transparent;
  border: 2px solid var(--clr-neutral-white);
  text-transform: uppercase;
  width: 10rem;
  height: 3.125rem;
  padding: 1rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--clr-primary-darkGreen);
  font-size: var(--fs-18);
}

footer a {
  text-decoration: none;
  color: var(--clr-neutral-gold);
}